@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/font/helvetica-neue/HelveticaNeueLTW0545Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/font/helvetica-neue/HelveticaNeueLTW0555Roman.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/font/helvetica-neue/HelveticaNeueLTW0585Heavy.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Benzin";
    src: url(/assets/font/benzin/Benzin-Semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}   